@import "tailwindcss";
@plugin "daisyui";
/* index.css */
/* @import url("@fontsource/poppins"); 
@import url("@fontsource/poppins/700.css"); 

body {
  font-family: "Poppins", sans-serif;
} */



/* index.css */
html.light body {
  background-color: #ffffff;
  color: #000000;
}

html.dark body {
  background-color: #121212;
  color: #ffffff;
}
