@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


/* @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *)); */

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* index.css */
/* @import url("@fontsource/poppins"); 
@import url("@fontsource/poppins/700.css"); 

body {
  font-family: "Poppins", sans-serif;
} */


[data-theme=dark] {
  color: white; /* default text color in dark theme */
  background-color: black; /* optional, just to ensure background */
}

[data-theme=dark] * {
  color: inherit; /* all children inherit white text */
}
